*.class
.idea
.DS_Store
*.log
*.log*
.classpath
.project
.settings/
target/
bin/

# Package Files #
*.jar
*.war
*.ear

# Archetype reused source
*/archetype/src/main/resources/archetype-resources/src/