<!-- popup modal message -->
<modal data="modal"></modal>
<div ng-show="data.tests.length > 0">
    <div class="row">
        <a href="#/tests/create" class="btn btn-default pull-right" id="createTestBtn">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
    <div id="server-def" class="row row-offcanvas row-offcanvas-right">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <table class="table table-striped">
                <tr ng-repeat="item in data.tests | filter:query | orderBy:orderProp">
                    <td class="text-left"><a class="btn" id="test-{{item.name}}" href="#/tests/{{item.name}}/">{{item.name}}</a>
                    </td>
                    <td class="text-left"><a class="btn" id="testDesc-{{item.name}}" href="#/tests/{{item.name}}/">{{item.description}}</a>
                    </td>
                    <td class="align-right">
                        <a href="#/tests/{{item.name}}/copy" class="btn" id="copyTestBtn-{{item.name}}">
                            <span class="glyphicon glyphicon-list"></span>
                        </a>
                        <a class="btn" id="editTestBtn-{{item.name}}" href="#/tests/{{item.name}}/properties">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <a ng-click="deleteTest(item.name)" class="btn" id="deleteTestBtn-{{item.name}}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div ng-show="data.tests.length == 0" class="main">
    <h1 align="center">No tests found, would you like to create one?</h1>
    <div ng-include src="'testdef/test-create.html'"></div>
</div>
</div>
