<div class="panel panel-default">
    <div class="panel-body ">
        <div class="row" ng-show="runNameEditorEnabled">
            <div class="col-lg-6">
                <div class="input-group">
                    <input class="form-control input-sm ng-valid ng-pristine" ng-model="data.name">
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-dark" ng-click="reset();runNameEditorEnabled=!runNameEditorEnabled" type="button" tabindex="-1">
                            <span class="glyphicon glyphicon-remove" />
                        </button>
                        <button class="btn btn-sm btn-default" ng-click="updateRunName(data.name)" type="button" tabindex="-1">
                            <span class="glyphicon glyphicon-ok" />
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <h3>
            <div ng-show="readOnly">
                {{data.name}}
            </div>
            <div ng-show="!readOnly">
                <span ng-hide="runNameEditorEnabled">
                    {{data.name}}
                    <a ng-click="runNameEditorEnabled=!runNameEditorEnabled">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </span>
            </div>
        </h3>
        <div ng-show="data.description == 'Description'">
            <div ng-show="readOnly">
                {{data.description}}
            </div>
            <span ng-show="!readOnly">
                <span ng-hide="runDescEditorEnabled">
                    <span ng-show="data.description">
                        {{data.description}}
                    </span>
                    <span ng-show="!data.description">
                        Description
                    </span>
                    <a ng-click="runDescEditorEnabled=!runDescEditorEnabled">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </span>
            </span>
        </div>
        <div class="row" ng-show="runDescEditorEnabled">
            <div class="col-lg-6">
                <div class="input-group">
                    <input class="form-control input-sm ng-valid" ng-model="data.description">
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-dark" ng-click="reset();runDescEditorEnabled=!runDescEditorEnabled" type="button" tabindex="-1">
                            <span class="glyphicon glyphicon-remove" />
                        </button>
                        <button class="btn btn-sm btn-default" ng-click="updateRunDesc(data.description)" type="button" tabindex="-1">
                            <span class="glyphicon glyphicon-ok" />
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Properties -->
<div ng-repeat="d in data.properties">
     <div property-accordion data="d"></div>
</div>


